
    body{
    text-align:center;
    background:#f0f0f0;
    }

    h1 {
    color:blue;
    font-size:300%;
   }

h1:before {
    content: url(https://cdn3.iconfinder.com/data/icons/blue-ulitto/128/Developer_files_Perl_Sc\
ript-128.png);
    margin: 10px;
    position: relative;
    top: 8px;
}

h1:after {
    content: url(https://cdn3.iconfinder.com/data/icons/blue-ulitto/128/Developer_files_Perl_Sc\
ript-128.png);
    margin: 10px;
    position: relative;
    top: 8px;
}

   div#back {
 width:560px; margin:10px 20px 10px 0px;
float:right;

}

  div#bbs {
   padding-top: 30px;
   width: 390px;
   margin-left: auto;
   margin-right: auto;
   text-align:left;

}


   div#form {
   width: 390px;
   height : 390px;
   }




div#pagebody{
 width:796px; margin:0 auto;
text-align:left;
background-color:#727272;
}


div#submenu {
width:160px;/*幅の指定*/
margin:10px 10px 10px 25px;/*位置調整（IE6のバグに注意）*/
display:inline;/*IE6のマージン算出のバグ対策*/
float:left;/*サブメニューのカラムを左寄せにする*/
}

/*サブメニューのヘッダ部分（余白調整・背景画像・背景色・文字サイズなど）*/
div#submenu_header {
height:26px; padding:4px 0px 0px 0px;
background-repeat:no-repeat; background-position:top;
background-color:#cccccc;
font-size:90%; font-weight:bold; text-align:center;
}

/*サブメニューのボディ部分（余白調整・背景画像・背景色）*/
ul#submenu_body {
padding-bottom:6px;
background-repeat:no-repeat; background-position:bottom;
background-color:#cccccc;
}
ul#submenu_body li {
font-size:90%;/*文字サイズを90%にする*/
list-style-type:none;/*リストマーカー無しにする*/
display:inline;/*リスト項目をインライン表示にする*/
}
ul#submenu_body li a {
display:block;/*リンクをブロック表示にする*/
margin:0px 4px 0px 4px;/*サブメニュー項目のマージン*/
padding:2px 0px 2px 20px;/*サブメニュー項目のパディング*/
background-color:#eeeeee;/*サブメニュー項目の背景色*/
text-decoration:none;/*リンクの下線を無くす*/
}

div#main {
width:470px; margin-right:5px; padding-top:10px;
float:left;
position: relative;
  height: auto !important;  /* IE6対策：この2行で */
  height: 100%;             /* IE6対策：擬似的にmin-heightと同じことをさせてる */
  
  min-height: 100%;
}

.clear {
    clear:both;
}

#footer {
background: url(footer_back.gif) repeat-x;
  bottom: 0;                /* フッターが下に来るようにする */
  #  position: absolute;
  width: 100%;
}

#footer input[type='submit'] {
  color: transparent;
  
  width: 50;
  height: 30;
  border: 0;
  background: url(submit.gif);
  background-size: cover;
}

#footer #value_form {
  margin: 0 6px;
  padding: 0 12px;

  border: 0;
  vertical-align: middle;
  background: url(value.gif) top;
  background-size: cover;

}

#contents {

  height:60%; overflow:auto; overflow-x: hidden; 
  background: #fff url(contents_back.jpg);
  background-repeat: no-repeat;            /* 背景を繰り返さない */
  background-position: 50% 50%;            /* 背景画像の位置は画面中央 */
  
  font-size:80%; color:#000000;
}

#title{
  z-index: 5;
  height: 60px;
  background: url(header_back.gif) repeat-x;
  text-align: center;
  font-size: 30;
  color: white;

}

.name {
  padding-left: 16px;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
}

.time {

  bottom: 20px;
  left: 520px;
  font-size: 18px;
  color: #fff;
}

.fukidashi {

}

.fukidashi .fukidashi_top {
  height: 37px;
  background: url(fukidashi_top.png);
    background-repeat-x: no-repeat;
}

.fukidashi .fukidashi_bottom {
  height: 36px;
  background: url(fukidashi_bottom.png);
    background-repeat-x: no-repeat;
}

.fukidashi .value {
  font-size: 30px;
  word-break: break-all;
  padding: 0 30px 0 40px;
  background: url(fukidashi_middle.png) repeat-y;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
}




/* ------------------------------------------------ drawer menu */
.drawer-menu {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    padding: 120px 0;
    background: #222;

    transition-property: all;

    transition-duration: .5s;

    transition-delay: 0s;


    transform-origin: right center;

    transform: perspective(500px) rotateY(-90deg);
    opacity: 0;
}

.drawer-menu li {
    text-align: center;
}

.drawer-menu li a {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #fff;

    transition: all .8s;
}

.drawer-menu li a:hover {
    color: #1a1e24;
    background: #fff;
}

/* ------------------------------------------------ checkbox */
.check {
    display: none;
}

/* ------------------------------------------------ menu button */
.menu-btn {
    position: fixed;
    display: block;
    top: 40px;
    right: 40px;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    z-index: 3;
}

.bar {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 40px;
    height: 1px;
    background: #fff;

    transition: all .5s;

    transform-origin: left top;
}

.bar.middle {
    top: 15px;
    opacity: 1;
}

.bar.bottom {
    top: 30px;

    transform-origin: left bottom;
}

.menu-btn__text {
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;

    transition: all .5s;
    display: block;
    visibility: visible;
    opacity: 1;
}

.menu-btn:hover .bar {
    background: #999;
}

.menu-btn:hover .menu-btn__text {
    color: #999;
}

.close-menu {
    position: fixed;
    top: 0;
    right: 300px;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0);
    cursor: url(../images/cross.svg),auto;

    transition-property: all;

    transition-duration: .3s;

    transition-delay: 0s;
    visibility: hidden;
    opacity: 0;
}

/* ------------------------------------------------ checked */
.check:checked ~ .drawer-menu {

    transition-delay: .3s;

    transform: none;
    opacity: 1;
    z-index: 2;
}

.check:checked ~ .contents {

    transition-delay: 0s;

    transform: translateX(-300px);
}

.check:checked ~ .menu-btn .menu-btn__text {
    visibility: hidden;
    opacity: 0;
}

.check:checked ~ .menu-btn .bar.top {
    width: 56px;

    transform: rotate(45deg);
}

.check:checked ~ .menu-btn .bar.middle {
    opacity: 0;
}

.check:checked ~ .menu-btn .bar.bottom {
    width: 56px;
    top: 40px;

    transform: rotate(-45deg);
}

.check:checked ~ .close-menu {
    transition-duration: 1s;

    transition-delay: .3s;
    background: rgba(0,0,0,.5);
    visibility: visible;
    opacity: 1;
    z-index: 3;
}